Repository contentful/forma-36, pull requests merged in 2021-07, with the labels that each got.

#1028 ci: align github actions setup with field-editors repository
  .github/dependabot.yml
  .github/labeler.yml
  .github/semantic.yml
  .github/workflows/auto-approve.yml
  .github/workflows/labeler.yml
Labels: tools

#1032 fix: Include `...otherProps` in Pill types
  packages/forma-36-react-components/src/components/Pill/Pill.tsx
Labels: package:forma-36-react-components

#1035 chore: fix dependabot configuration
  .github/dependabot.yml
Labels: tools

#1045 docs: update Forma36 storybook link on Forma36 website
  packages/forma-36-website/src/pages/index.jsx
Labels: package:forma-36-website

#1048 fix: introduce transparent variant of the button component
  packages/components/button/src/Button.tsx
  packages/components/button/src/styles.ts
  packages/components/button/src/types.ts
  packages/components/button/stories/Button.stories.tsx
Labels: component:button, package:components

#1029 feat: migrate illustration component to icons [BAU-3]
  packages/components/icons/src/Archive.tsx
  packages/components/icons/src/Audio.tsx
  packages/components/icons/src/CodeIllustration.tsx
  packages/components/icons/src/Image.tsx
  packages/components/icons/src/Markup.tsx
  packages/components/icons/src/Pdf.tsx
  packages/components/icons/src/Plaintext.tsx
  packages/components/icons/src/Presentation.tsx
  packages/components/icons/src/Richtext.tsx
  packages/components/icons/src/Spreadsheet.tsx
  packages/components/icons/src/Video.tsx
  packages/components/icons/src/index.ts
  packages/forma-36-react-components/src/components/Asset/AssetIcon/AssetIcon.css
  packages/forma-36-react-components/src/components/Asset/AssetIcon/AssetIcon.tsx
  packages/forma-36-react-components/src/components/Asset/AssetIcon/__snapshots__/AssetIcon.test.tsx.snap
  packages/forma-36-react-components/src/components/Asset/__snapshots__/Asset.test.tsx.snap
  packages/forma-36-react-components/src/components/Card/AssetCard/__snapshots__/AssetCard.test.tsx.snap
  packages/forma-36-react-components/src/components/Illustration/Illustration.css
  packages/forma-36-react-components/src/components/Illustration/Illustration.stories.tsx
  packages/forma-36-react-components/src/components/Illustration/Illustration.test.tsx
  packages/forma-36-react-components/src/components/Illustration/Illustration.tsx
  packages/forma-36-react-components/src/components/Illustration/README.mdx
  packages/forma-36-react-components/src/components/Illustration/__snapshots__/Illustration.test.tsx.snap
  packages/forma-36-react-components/src/components/Illustration/constants.ts
  packages/forma-36-react-components/src/components/Illustration/index.ts
  packages/forma-36-react-components/src/components/Illustration/svg/Archive.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Audio.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Code.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Image.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Markup.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Pdf.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Plaintext.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Presentation.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Richtext.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Spreadsheet.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/Video.tsx
  packages/forma-36-react-components/src/components/Illustration/svg/index.tsx
  packages/forma-36-react-components/src/index.ts
Labels: component:icons, package:components, package:forma-36-react-components, tools

#1034 feat(pill): migrate to V4
  packages/components/pill/README.mdx
  packages/components/pill/index.ts
  packages/components/pill/package.json
  packages/components/pill/src/Pill.tsx
  packages/components/pill/src/index.ts
  packages/components/pill/src/styles.ts
  packages/components/pill/src/types.ts
  packages/components/pill/stories/Pill.stories.tsx
  packages/components/pill/test/Pill.test.tsx
  packages/components/pill/test/__snapshots__/Pill.test.tsx.snap
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/Pill/Pill.css
  packages/forma-36-react-components/src/components/Pill/Pill.stories.tsx
  packages/forma-36-react-components/src/components/Pill/Pill.tsx
  packages/forma-36-react-components/src/components/Pill/__snapshots__/Pill.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
Labels: component:pill, package:components, package:forma-36-react-components, v4

#1051 feat(flex): add gap property
  packages/core/src/Flex/Flex.tsx
Labels: package:core

#1057 fix: add focusContainerOnOpen prop on Dropdown
  packages/forma-36-react-components/src/components/Autocomplete/Autocomplete.tsx
  packages/forma-36-react-components/src/components/Dropdown/Dropdown.tsx
  packages/forma-36-react-components/src/components/Dropdown/DropdownContainer/DropdownContainer.tsx
Labels: package:forma-36-react-components

#1059 feat: rename Paragraph to Text
  packages/components/empty-state/src/EmptyState.tsx
  packages/components/empty-state/test/__snapshots__/EmptyState.test.tsx.snap
  packages/components/forms/src/controlled-input-field/__snapshots__/ControlledInputField.test.tsx.snap
  packages/components/icon/stories/Icon.stories.tsx
  packages/components/note/src/Note.tsx
  packages/components/note/test/__snapshots__/Note.test.tsx.snap
  packages/components/typography/README.mdx
  packages/components/typography/src/Text.spec.tsx
  packages/components/typography/src/Text.tsx
  packages/components/typography/src/Typography.spec.tsx
  packages/components/typography/src/Typography.tsx
  packages/components/typography/src/__snapshots__/Text.spec.tsx.snap
  packages/components/typography/src/__snapshots__/Typography.spec.tsx.snap
  packages/components/typography/src/index.ts
  packages/components/typography/stories/DisplayText.stories.tsx
  packages/components/typography/stories/Paragraph.stories.tsx
  packages/components/typography/stories/Typography.stories.tsx
  packages/components/validation-message/src/ValidationMessage.tsx
  packages/components/validation-message/test/__snapshots__/ValidationMessage.test.tsx.snap
  packages/forma-36-react-components/src/components/Accordion/Accordion.stories.tsx
  packages/forma-36-react-components/src/components/Accordion/README.mdx
  packages/forma-36-react-components/src/components/Asset/Asset.stories.tsx
  packages/forma-36-react-components/src/components/Card/Card.stories.tsx
  packages/forma-36-react-components/src/components/Card/README.mdx
  packages/forma-36-react-components/src/components/IconButton/IconButton.stories.tsx
  packages/forma-36-react-components/src/components/Modal/ModalConfirm/ModalConfirm.stories.tsx
  packages/forma-36-react-components/src/components/Modal/ModalLauncher/ModalLauncher.stories.tsx
  packages/forma-36-react-components/src/components/SelectField/__snapshots__/SelectField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextLink/TextLink.stories.tsx
  packages/forma-36-react-components/src/components/Tooltip/Tooltip.stories.tsx
  packages/forma-36-website/src/components/Container.js
  packages/forma-36-website/src/components/ExampleCards.js
  packages/forma-36-website/src/components/Home/Resource.js
  packages/forma-36-website/src/components/Masthead.js
  packages/forma-36-website/src/content/foundation/typography/index.mdx
  packages/forma-36-website/src/pages/index.jsx
Labels: component:card, component:empty-state, component:forms, component:icon, component:note, component:typography, component:validation-message, package:components, package:forma-36-react-components, package:forma-36-website, tests

#1063 fix(dropdown): remove default value for getContainerRef
  packages/forma-36-react-components/src/components/Dropdown/Dropdown.tsx
Labels: package:forma-36-react-components

#1064 docs: remove classNames from Skeleton component stories
  packages/forma-36-react-components/src/components/Skeleton/SkeletonDisplayText/SkeletonDisplayText.stories.tsx
  packages/forma-36-react-components/src/components/Skeleton/SkeletonImage/SkeletonImage.stories.tsx
  packages/forma-36-react-components/src/components/Skeleton/SkeletonRow/SkeletonRow.stories.tsx
Labels: package:forma-36-react-components

#1068 refactor: fix dependencies and improve types
  packages/components/button/package.json
  packages/components/empty-state/package.json
  packages/components/forms/src/Label/Label.tsx
  packages/components/helptext/package.json
  packages/components/icon/package.json
  packages/components/icons/package.json
  packages/components/inputs/src/controlled-input/ControlledInput.tsx
  packages/components/list/package.json
  packages/components/note/package.json
  packages/components/pill/package.json
  packages/components/table/src/Table.tsx
  packages/forma-36-react-components/src/components/Card/Card.tsx
  packages/forma-36-react-components/src/components/TextLink/TextLink.tsx
Labels: component:button, component:empty-state, component:forms, component:helptext, component:icon, component:icons, component:inputs, component:list, component:note, component:pill, component:table, package:components, package:forma-36-react-components

#1060 New tokens codemod
  packages/forma-36-codemod/.eslintignore
  packages/forma-36-codemod/README.md
  packages/forma-36-codemod/bin/cli.js
  packages/forma-36-codemod/bin/f36-codemod.js
  packages/forma-36-codemod/bin/inquirer-choices.js
  packages/forma-36-codemod/jest/env.js
  packages/forma-36-codemod/package.json
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-custom-import-name.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-custom-import-name.output.js
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-no-import.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-no-import.output.js
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-require.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-require.output.js
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-to-new-tokens.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/color-tokens-to-new-tokens.output.js
  packages/forma-36-codemod/transforms/__tests__/color-tokens-to-new-tokens.test.js
  packages/forma-36-codemod/transforms/color-tokens-to-new-tokens.js
Labels: package:forma-36-codemod

#1069 feat: primitive optimizations
  packages/components/empty-state/src/EmptyState.tsx
  packages/components/empty-state/test/__snapshots__/EmptyState.test.tsx.snap
  packages/components/forms/src/controlled-input-field/__snapshots__/ControlledInputField.test.tsx.snap
  packages/components/helptext/test/__snapshots__/HelpText.test.tsx.snap
  packages/components/note/src/Note.tsx
  packages/components/note/test/__snapshots__/Note.test.tsx.snap
  packages/components/pill/test/__snapshots__/Pill.test.tsx.snap
  packages/components/table/src/TableBody.tsx
  packages/components/table/src/TableCell.tsx
  packages/components/table/src/TableHead.tsx
  packages/components/table/src/TableRow.tsx
  packages/components/typography/src/__snapshots__/Typography.spec.tsx.snap
  packages/core/src/Box/Box.tsx
  packages/core/src/Box/__snapshots__/Box.test.tsx.snap
  packages/core/src/Box/index.ts
  packages/core/src/Flex/Flex.tsx
  packages/core/src/Grid/Grid.tsx
  packages/core/src/Grid/GridItem/GridItem.tsx
  packages/core/src/Grid/GridItem/__snapshots__/GridItem.test.tsx.snap
  packages/core/src/Primitive/Primitive.tsx
  packages/core/src/Primitive/index.ts
  packages/core/test/Primitive.test.tsx
  packages/core/test/__snapshots__/Primitive.test.tsx.snap
  packages/forma-36-react-components/src/components/Form/FieldGroup/__snapshots__/FieldGroup.test.tsx.snap
  packages/forma-36-react-components/src/components/Form/__snapshots__/Form.test.tsx.snap
  packages/forma-36-react-components/src/components/SelectField/__snapshots__/SelectField.test.tsx.snap
  packages/forma-36-react-components/src/components/Skeleton/SkeletonRow/__snapshots__/SkeletonRow.test.tsx.snap
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Labels: component:empty-state, component:forms, component:helptext, component:note, component:pill, component:table, component:typography, package:components, package:core, package:forma-36-react-components

#1074 docs: we are Forma 36
  packages/forma-36-react-components/CHANGELOG.md
  packages/forma-36-react-components/src/components/Card/Card.stories.tsx
  packages/forma-36-react-components/src/components/DateTime/README.mdx
  packages/forma-36-react-components/src/components/DateTime/RelativeDate/RelativeDate.tsx
  packages/forma-36-react-components/src/components/Spinner/README.mdx
  packages/forma-36-react-components/tools/rollup.umd.config.js
  packages/forma-36-website/gatsby-config.js
  packages/forma-36-website/src/components/DocSearch.jsx
Labels: package:forma-36-react-components, package:forma-36-website

#1047 feat(tooltip-v4): refactor tooltip component for forma-v4
  packages/components/tooltip/README.mdx
  packages/components/tooltip/index.ts
  packages/components/tooltip/package.json
  packages/components/tooltip/src/Tooltip.styles.ts
  packages/components/tooltip/src/Tooltip.tsx
  packages/components/tooltip/src/index.ts
  packages/components/tooltip/stories/Tooltip.stories.tsx
  packages/components/tooltip/test/Tooltip.test.tsx
  packages/components/tooltip/test/__snapshots__/Tooltip.test.tsx.snap
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useId.ts
  packages/core/src/index.ts
  packages/f36-docs-utils/src/Props/Props.tsx
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/CopyButton/CopyButton.test.tsx
  packages/forma-36-react-components/src/components/CopyButton/CopyButton.tsx
  packages/forma-36-react-components/src/components/CopyButton/__snapshots__/CopyButton.test.tsx.snap
  packages/forma-36-react-components/src/components/EditorToolbar/EditorToolbarButton/EditorToolbarButton.test.tsx
  packages/forma-36-react-components/src/components/EditorToolbar/EditorToolbarButton/EditorToolbarButton.tsx
  packages/forma-36-react-components/src/components/EditorToolbar/EditorToolbarButton/__snapshots__/EditorToolbarButton.test.tsx.snap
  packages/forma-36-react-components/src/components/TextField/TextField.test.tsx
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextInput/TextInput.test.tsx
  packages/forma-36-react-components/src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  packages/forma-36-react-components/src/components/Tooltip/Tooltip.css
  packages/forma-36-react-components/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/forma-36-react-components/src/components/Tooltip/index.ts
  packages/forma-36-react-components/src/index.ts
Labels: component:tooltip, package:components, package:core, package:f36-docs-utils, package:forma-36-react-components

#1070 docs: colors documentation update
  packages/forma-36-website/_redirects
  packages/forma-36-website/gatsby-config.js
  packages/forma-36-website/src/components/ColorA11yGroup.js
  packages/forma-36-website/src/components/ColorBox.js
  packages/forma-36-website/src/components/ColorSwatch.js
  packages/forma-36-website/src/content/foundation/color-system/index.mdx
  packages/forma-36-website/src/content/foundation/color/index.mdx
Labels: package:forma-36-website

#1082 feat(icon): add table icon
  packages/forma-36-react-components/src/components/Icon/Icon.tsx
  packages/forma-36-react-components/src/components/Icon/constants.ts
  packages/forma-36-react-components/src/components/Icon/svg/Table.tsx
  packages/forma-36-react-components/src/components/Icon/svg/index.tsx
Labels: package:forma-36-react-components

#1083 feat(icons v4): add table icon
  packages/components/icons/src/Table.tsx
Labels: component:icons, package:components

#1084 build(dependabot): remove nonexistent label
  .github/dependabot.yml
Labels: tools

#1085 fix(dropdown-container): force window not to scroll on dropdown focus
  packages/forma-36-react-components/src/components/Dropdown/DropdownContainer/DropdownContainer.tsx
Labels: package:forma-36-react-components

#1098 docs: Fix icons README and card story
  packages/components/icon/README.mdx
  packages/components/icons/README.mdx
  packages/forma-36-react-components/src/components/Card/Card.stories.tsx
Labels: component:icon, component:icons, package:components, package:forma-36-react-components

#1094 fix(button): rename disabled prop to align with style guide
  packages/components/button/package.json
  packages/components/button/src/Button.tsx
  packages/components/button/stories/Button.stories.tsx
Labels: component:button, package:components

#1096 fix: fix issue with Tags
  packages/forma-36-react-components/src/components/Tag/Tag.css
Labels: package:forma-36-react-components

#1099 docs: remove Text margin from Card stories
  packages/forma-36-react-components/src/components/Card/Card.stories.tsx
Labels: package:forma-36-react-components

#1092 feat: migration notes
  packages/forma-36-tokens/MIGRATION.md
Labels: package:forma-36-tokens

#1102 fix: fix issue with icons for IconButton, Toggle and Link
  packages/forma-36-react-components/src/components/Icon/Icon.css
  packages/forma-36-react-components/src/components/IconButton/IconButton.css
  packages/forma-36-react-components/src/components/TextLink/TextLink.css
Labels: package:forma-36-react-components

#1105 build: fix noise from babel in v4 branch
  babel.config.js
  packages/forma-36-react-components/.babelrc
  packages/forma-36-react-components/package.json
  yarn.lock
Labels: component:badge, component:button, component:datepicker, component:empty-state, component:forms, component:helptext, component:icon, component:icons, component:inputs, component:list, component:note, component:pill, component:spinner, component:table, component:timepicker, component:tooltip, component:typography, component:utils, component:validation-message, package:components, package:core, package:f36-docs-utils, package:forma-36-fcss, package:forma-36-react-components, package:forma-36-tokens, package:forma-36-website, tests, tools

#1093 feat: extract DragHandle component
  packages/components/drag-handle/README.mdx
  packages/components/drag-handle/index.ts
  packages/components/drag-handle/package.json
  packages/components/drag-handle/src/DragHandle.styles.ts
  packages/components/drag-handle/src/DragHandle.tsx
  packages/components/drag-handle/src/index.ts
  packages/components/drag-handle/stories/DragHandle.stories.tsx
  packages/components/drag-handle/test/DragHandle.test.tsx
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/EntityListItem.css
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/EntityListItem.stories.tsx
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/EntityListItem.tsx
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/__snapshots__/EntityListItem.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
Labels: component:button, component:drag-handle, component:icons, package:components, package:forma-36-react-components

#1107 fix: add missing deps to packages
  packages/components/forms/package.json
  packages/components/inputs/src/controlled-input/ControlledInput.tsx
  packages/components/note/package.json
  packages/components/note/src/Note.styles.tsx
  packages/components/note/src/Note.tsx
Labels: component:forms, component:inputs, component:note, package:components

#1108 chore(deps): fix website build by upgrading tokens
  packages/forma-36-website/package.json
Labels: package:forma-36-website

#1103 feat: puzzle icon
  packages/forma-36-react-components/src/components/Icon/Icon.tsx
  packages/forma-36-react-components/src/components/Icon/constants.ts
  packages/forma-36-react-components/src/components/Icon/svg/Puzzle.tsx
  packages/forma-36-react-components/src/components/Icon/svg/index.tsx
Labels: package:forma-36-react-components

#1101 fix(accordion): make AccordionPanel height adjustable to content
  packages/forma-36-react-components/src/components/Accordion/Accordion.stories.tsx
  packages/forma-36-react-components/src/components/Accordion/AccordionPanel/AccordionPanel.css
  packages/forma-36-react-components/src/components/Accordion/AccordionPanel/AccordionPanel.tsx
  packages/forma-36-react-components/src/components/Accordion/__snapshots__/Accordion.test.tsx.snap
Labels: package:forma-36-react-components

#1106 docs: Update website with migration note
  packages/forma-36-tokens/CHANGELOG.md
  packages/forma-36-tokens/MIGRATION.md
  packages/forma-36-website/gatsby-config.js
Labels: package:forma-36-tokens, package:forma-36-website

#1112 fix(dropdown-container): check for ref before calling focus
  packages/forma-36-react-components/src/components/Dropdown/DropdownContainer/DropdownContainer.tsx
Labels: package:forma-36-react-components

#1109 feat: create ButtonGroup component
  packages/components/button/src/ButtonGroup/ButtonGroup.styles.ts
  packages/components/button/src/ButtonGroup/ButtonGroup.tsx
  packages/components/button/src/ButtonGroup/README.mdx
  packages/components/button/src/ButtonGroup/index.ts
  packages/components/button/src/ButtonGroup/types.ts
  packages/components/button/src/index.ts
  packages/components/button/stories/ButtonGroup.stories.tsx
  packages/components/button/test/ButtonGroup.test.tsx
  packages/components/button/test/__snapshots__/ButtonGroup.test.tsx.snap
  packages/components/table/stories/Table.stories.tsx
  packages/forma-36-react-components/src/index.ts
  packages/forma-36-website/gatsby-config.js
Labels: component:button, component:buttongroup, component:table, package:components, package:forma-36-react-components, package:forma-36-website, v4

#1124 fix(dropdown): fix "`focus` of `null`" error in Dropdown component
  packages/forma-36-react-components/src/components/Dropdown/Dropdown.tsx
Labels: package:forma-36-react-components

#1126 fix(button): update color to increase color contrast between positive…
  packages/forma-36-react-components/src/components/Button/Button.css
Labels: package:forma-36-react-components

#1125 feat(TextLink) v4
  packages/components/text-link/README.mdx
  packages/components/text-link/index.ts
  packages/components/text-link/package.json
  packages/components/text-link/src/TextLink.styles.ts
  packages/components/text-link/src/TextLink.tsx
  packages/components/text-link/src/index.ts
  packages/components/text-link/src/types.ts
  packages/components/text-link/stories/TextLink.stories.tsx
  packages/components/text-link/test/TextLink.test.tsx
  packages/components/text-link/test/__snapshots__/TextLink.test.tsx.snap
  packages/components/tooltip/stories/Tooltip.stories.tsx
  packages/core/src/Primitive/Primitive.tsx
  packages/forma-36-react-components/src/components/Dropdown/Dropdown.stories.tsx
  packages/forma-36-react-components/src/components/Notification/NotificationItem.tsx
  packages/forma-36-react-components/src/components/Notification/__snapshots__/NotificationItem.test.tsx.snap
  packages/forma-36-react-components/src/components/SelectField/SelectField.tsx
  packages/forma-36-react-components/src/components/TextField/README.mdx
  packages/forma-36-react-components/src/components/TextField/TextField.stories.tsx
  packages/forma-36-react-components/src/components/TextField/TextField.test.tsx
  packages/forma-36-react-components/src/components/TextField/TextField.tsx
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextLink/TextLink.css
  packages/forma-36-react-components/src/components/TextLink/TextLink.test.tsx
  packages/forma-36-react-components/src/components/TextLink/TextLink.tsx
  packages/forma-36-react-components/src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
  packages/forma-36-website/src/components/Footer.js
  packages/forma-36-website/src/components/Home/Resource.js
Labels: component:text-link, component:tooltip, package:components, package:core, package:forma-36-react-components, package:forma-36-website

#1127 feat(ToggleButton) V4
  packages/components/button/src/ButtonGroup/README.mdx
  packages/components/button/src/ToggleButton/README.mdx
  packages/components/button/src/ToggleButton/ToggleButton.styles.ts
  packages/components/button/src/ToggleButton/ToggleButton.tsx
  packages/components/button/src/ToggleButton/index.ts
  packages/components/button/src/ToggleButton/types.ts
  packages/components/button/src/index.ts
  packages/components/button/stories/ToggleButton.stories.tsx
  packages/components/button/test/ToggleButton.test.tsx
  packages/components/button/test/__snapshots__/ToggleButton.test.tsx.snap
  packages/forma-36-react-components/src/components/ToggleButton/README.mdx
  packages/forma-36-react-components/src/components/ToggleButton/ToggleButton.css
  packages/forma-36-react-components/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/forma-36-react-components/src/components/ToggleButton/ToggleButton.test.tsx
  packages/forma-36-react-components/src/components/ToggleButton/ToggleButton.tsx
  packages/forma-36-react-components/src/components/ToggleButton/__snapshots__/ToggleButton.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
Labels: component:button, package:components, package:forma-36-react-components
