Repository contentful/forma-36, pull requests merged in 2021-08, with the labels that each got.

#1130 docs: move/update code style guide
  docs/code-style-guide.md
  packages/forma-36-react-components/README.md
Labels: package:forma-36-react-components

#1131 refactor: inline all component variants [BAU-59]
  packages/components/badge/src/types.ts
  packages/components/button/src/types.ts
  packages/components/icon/src/Icon.tsx
  packages/components/note/src/Note.tsx
  packages/components/spinner/src/Spinner.tsx
  packages/components/text-link/src/types.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Labels: component:badge, component:button, component:icon, component:note, component:spinner, component:text-link, package:components, package:core

#1137 feat: improve Workbench a11y support
  packages/forma-36-react-components/src/components/Workbench/Workbench.tsx
  packages/forma-36-react-components/src/components/Workbench/__snapshots__/Workbench.test.tsx.snap
Labels: package:forma-36-react-components

#1140 fix(button): unmount spinner on exit
  packages/forma-36-react-components/src/components/Button/Button.tsx
Labels: package:forma-36-react-components

#1123 feat: Accordion v4
  packages/components/accordion/README.mdx
  packages/components/accordion/index.ts
  packages/components/accordion/package.json
  packages/components/accordion/src/Accordion.styles.ts
  packages/components/accordion/src/Accordion.tsx
  packages/components/accordion/src/AccordionHeader/AccordionHeader.styles.ts
  packages/components/accordion/src/AccordionHeader/AccordionHeader.tsx
  packages/components/accordion/src/AccordionItem/AccordionItem.styles.ts
  packages/components/accordion/src/AccordionItem/AccordionItem.tsx
  packages/components/accordion/src/AccordionPanel/AccordionPanel.styles.ts
  packages/components/accordion/src/AccordionPanel/AccordionPanel.tsx
  packages/components/accordion/src/index.ts
  packages/components/accordion/stories/Accordion.stories.tsx
  packages/components/accordion/test/Accordion.test.tsx
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/Accordion/Accordion.css
  packages/forma-36-react-components/src/components/Accordion/Accordion.tsx
  packages/forma-36-react-components/src/components/Accordion/AccordionPanel/AccordionPanel.css
  packages/forma-36-react-components/src/components/Accordion/__snapshots__/Accordion.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
Labels: component:accordion, package:components, package:forma-36-react-components

#1144 chore: clean up for consistency
  packages/components/badge/src/Badge.tsx
  packages/components/badge/src/getBadgeStyles.ts
  packages/components/drag-handle/src/DragHandle.tsx
  packages/components/empty-state/src/EmptyState.tsx
  packages/forma-36-react-components/src/components/Table/TableHead/TableHead.css
Labels: component:badge, component:drag-handle, component:empty-state, package:components, package:forma-36-react-components

#1148 fix: workbench sidebar label
  packages/forma-36-react-components/src/components/Workbench/Workbench.tsx
  packages/forma-36-react-components/src/components/Workbench/__snapshots__/Workbench.test.tsx.snap
Labels: package:forma-36-react-components

#1145 feat: update puzzle icon v4
  packages/components/icons/src/Puzzle.tsx
Labels: component:icons, package:components

#1146 feat(Puzzle): use web app version of puzzle icon
  packages/forma-36-react-components/src/components/Icon/svg/Puzzle.tsx
Labels: package:forma-36-react-components

#1138 refactor: V4 button
  packages/components/button/README.mdx
  packages/components/button/package.json
  packages/components/button/src/Button.tsx
  packages/components/button/src/ButtonGroup/README.mdx
  packages/components/button/src/ToggleButton/README.mdx
  packages/components/button/src/ToggleButton/ToggleButton.tsx
  packages/components/button/src/styles.ts
  packages/components/button/src/types.ts
  packages/components/button/stories/Button.stories.tsx
  packages/components/button/stories/ButtonGroup.stories.tsx
  packages/components/button/stories/ToggleButton.stories.tsx
  packages/components/button/test/Button.test.tsx
  packages/components/button/test/ButtonGroup.test.tsx
  packages/components/button/test/ToggleButton.test.tsx
  packages/components/button/test/__snapshots__/ButtonGroup.test.tsx.snap
  packages/components/button/test/__snapshots__/ToggleButton.test.tsx.snap
  packages/components/note/src/Note.tsx
  packages/forma-36-react-components/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/EntityListItem.tsx
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/__snapshots__/EntityListItem.test.tsx.snap
  packages/forma-36-react-components/src/components/Workbench/__snapshots__/Workbench.test.tsx.snap
Labels: component:button, component:note, package:components, package:forma-36-react-components

#1152 [BAU-61] feat: implement osano in forma 36 website
  packages/forma-36-website/README.md
  packages/forma-36-website/gatsby-browser.js
  packages/forma-36-website/gatsby-config.js
  packages/forma-36-website/package.json
  packages/forma-36-website/src/components/Footer.js
  packages/forma-36-website/src/components/Layout.css
  packages/forma-36-website/src/components/Layout.js
  packages/forma-36-website/src/components/Navigation.js
  packages/forma-36-website/static/icons/checkmark-disabled.svg
  packages/forma-36-website/static/icons/checkmark.svg
  yarn.lock
Labels: package:forma-36-website

#1155 refactoring: more consistency and alignment about spacing props
  packages/components/badge/src/Badge.tsx
  packages/components/badge/stories/Badge.stories.tsx
  packages/components/button/src/Button.tsx
  packages/components/empty-state/src/EmptyState.tsx
  packages/components/empty-state/stories/EmptyState.stories.tsx
  packages/components/forms/src/controlled-input-field/__snapshots__/ControlledInputField.test.tsx.snap
  packages/components/helptext/src/HelpText.styles.tsx
  packages/components/helptext/src/HelpText.tsx
  packages/components/helptext/stories/HelpText.stories.tsx
  packages/components/helptext/test/__snapshots__/HelpText.test.tsx.snap
  packages/components/icon/src/Icon.tsx
  packages/components/list/src/ListItem/ListItem.tsx
  packages/components/note/src/Note.styles.tsx
  packages/components/note/src/Note.tsx
  packages/components/note/test/__snapshots__/Note.test.tsx.snap
  packages/components/pill/src/Pill.tsx
  packages/components/pill/stories/Pill.stories.tsx
  packages/components/skeleton/src/SkeletonContainer/SkeletonContainer.tsx
  packages/components/spinner/src/Spinner.tsx
  packages/components/spinner/stories/Spinner.stories.tsx
  packages/components/table/src/Table.tsx
  packages/components/table/src/TableBody.tsx
  packages/components/table/src/TableCell.tsx
  packages/components/table/src/TableHead.tsx
  packages/components/table/src/TableRow.tsx
  packages/components/validation-message/src/ValidationMessage.tsx
  packages/components/validation-message/stories/ValidationMessage.stories.tsx
  packages/forma-36-react-components/src/components/Form/FieldGroup/__snapshots__/FieldGroup.test.tsx.snap
  packages/forma-36-react-components/src/components/Form/__snapshots__/Form.test.tsx.snap
  packages/forma-36-react-components/src/components/SelectField/SelectField.tsx
  packages/forma-36-react-components/src/components/SelectField/__snapshots__/SelectField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextField/TextField.css
  packages/forma-36-react-components/src/components/TextField/TextField.tsx
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
Labels: package:forma-36-react-components, package:components, component:badge, component:button, component:empty-state, component:forms, component:helptext, component:icon, component:list, component:note, component:spinner, component:table, component:validation-message, component:pill, component:skeleton

#1156 feat: icon improvements
  packages/components/accordion/src/Accordion.styles.ts
  packages/components/accordion/src/AccordionHeader/AccordionHeader.styles.ts
  packages/components/accordion/src/AccordionHeader/AccordionHeader.tsx
  packages/components/accordion/src/AccordionItem/AccordionItem.styles.ts
  packages/components/accordion/src/AccordionPanel/AccordionPanel.styles.ts
  packages/components/accordion/src/AccordionPanel/AccordionPanel.tsx
  packages/components/forms/src/checkbox-field/__snapshots__/CheckboxField.test.tsx.snap
  packages/components/forms/src/controlled-input-field/__snapshots__/ControlledInputField.test.tsx.snap
  packages/components/icon/src/Icon.tsx
  packages/components/icon/src/generateIcon.tsx
  packages/components/icon/stories/Icon.stories.tsx
  packages/components/icon/test/Icon.test.tsx
  packages/components/icon/test/__snapshots__/Icon.test.tsx.snap
  packages/components/icons/src/HelpCircleInverted.tsx
  packages/components/icons/test/__snapshots__/Icon.test.tsx.snap
  packages/components/inputs/src/checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/components/inputs/src/controlled-input/__snapshots__/ControlledInput.test.tsx.snap
  packages/components/note/test/__snapshots__/Note.test.tsx.snap
  packages/components/pill/test/__snapshots__/Pill.test.tsx.snap
  packages/components/text-link/test/__snapshots__/TextLink.test.tsx.snap
  packages/components/validation-message/test/__snapshots__/ValidationMessage.test.tsx.snap
  packages/forma-36-react-components/src/components/Asset/AssetIcon/AssetIcon.tsx
  packages/forma-36-react-components/src/components/Asset/AssetIcon/__snapshots__/AssetIcon.test.tsx.snap
  packages/forma-36-react-components/src/components/Asset/__snapshots__/Asset.test.tsx.snap
  packages/forma-36-react-components/src/components/Card/AssetCard/__snapshots__/AssetCard.test.tsx.snap
  packages/forma-36-react-components/src/components/Card/CardActions/__snapshots__/CardActions.test.tsx.snap
  packages/forma-36-react-components/src/components/Card/CardDragHandle/__snapshots__/CardDragHandle.test.tsx.snap
  packages/forma-36-react-components/src/components/Card/EntryCard/__snapshots__/EntryCard.test.tsx.snap
  packages/forma-36-react-components/src/components/Card/InlineEntryCard/__snapshots__/InlineEntryCard.test.tsx.snap
  packages/forma-36-react-components/src/components/CopyButton/__snapshots__/CopyButton.test.tsx.snap
  packages/forma-36-react-components/src/components/EditorToolbar/EditorToolbarButton/__snapshots__/EditorToolbarButton.test.tsx.snap
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/__snapshots__/EntityListItem.test.tsx.snap
  packages/forma-36-react-components/src/components/EntityList/__snapshots__/EntityList.test.tsx.snap
  packages/forma-36-react-components/src/components/Form/FieldGroup/__snapshots__/FieldGroup.test.tsx.snap
  packages/forma-36-react-components/src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  packages/forma-36-react-components/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/forma-36-react-components/src/components/Notification/__snapshots__/NotificationItem.test.tsx.snap
  packages/forma-36-react-components/src/components/Select/__snapshots__/Select.test.tsx.snap
  packages/forma-36-react-components/src/components/SelectField/__snapshots__/SelectField.test.tsx.snap
  packages/forma-36-react-components/src/components/Switch/__snapshots__/Switch.test.tsx.snap
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  packages/forma-36-react-components/src/components/Workbench/__snapshots__/Workbench.test.tsx.snap
Labels: package:forma-36-react-components, package:components, component:icons, component:forms, component:icon, component:inputs, component:note, component:validation-message, component:pill, component:accordion, component:text-link

#1158 [BAU-49] fix: use dotenv only in development
  packages/forma-36-website/README.md
  packages/forma-36-website/gatsby-browser.js
  packages/forma-36-website/src/components/Footer.js
  packages/forma-36-website/static/icons/contentful-logo.svg
Labels: package:forma-36-website

#1159 feat: bring back paragraph component
  packages/components/accordion/stories/Accordion.stories.tsx
  packages/components/empty-state/src/EmptyState.tsx
  packages/components/empty-state/test/__snapshots__/EmptyState.test.tsx.snap
  packages/components/forms/src/controlled-input-field/__snapshots__/ControlledInputField.test.tsx.snap
  packages/components/icon/stories/Icon.stories.tsx
  packages/components/note/src/Note.tsx
  packages/components/note/test/__snapshots__/Note.test.tsx.snap
  packages/components/text-link/stories/TextLink.stories.tsx
  packages/components/typography/README.mdx
  packages/components/typography/src/Heading.tsx
  packages/components/typography/src/Paragraph.spec.tsx
  packages/components/typography/src/Paragraph.tsx
  packages/components/typography/src/Typography.spec.tsx
  packages/components/typography/src/Typography.tsx
  packages/components/typography/src/__snapshots__/Paragraph.spec.tsx.snap
  packages/components/typography/src/__snapshots__/Typography.spec.tsx.snap
  packages/components/typography/src/index.ts
  packages/components/typography/stories/DisplayText.stories.tsx
  packages/components/typography/stories/Paragraph.stories.tsx
  packages/components/typography/stories/Typography.stories.tsx
  packages/components/validation-message/src/ValidationMessage.tsx
  packages/components/validation-message/test/__snapshots__/ValidationMessage.test.tsx.snap
  packages/forma-36-react-components/src/components/Asset/Asset.stories.tsx
  packages/forma-36-react-components/src/components/Card/Card.stories.tsx
  packages/forma-36-react-components/src/components/Card/README.mdx
  packages/forma-36-react-components/src/components/IconButton/IconButton.stories.tsx
  packages/forma-36-react-components/src/components/Modal/ModalConfirm/ModalConfirm.stories.tsx
  packages/forma-36-react-components/src/components/Modal/ModalLauncher/ModalLauncher.stories.tsx
  packages/forma-36-react-components/src/components/SelectField/__snapshots__/SelectField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-website/src/components/Container.js
  packages/forma-36-website/src/components/ExampleCards.js
  packages/forma-36-website/src/components/Home/Resource.js
  packages/forma-36-website/src/components/Masthead.js
  packages/forma-36-website/src/content/foundation/typography/index.mdx
  packages/forma-36-website/src/pages/index.jsx
Labels: package:forma-36-react-components, package:components, package:forma-36-website, component:empty-state, component:forms, component:icon, component:note, component:typography, component:validation-message, tests, component:accordion, component:text-link

#1161 chore: enforce callback codestyle
  .eslintrc.js
  packages/forma-36-react-components/src/components/Autocomplete/Autocomplete.tsx
  packages/forma-36-react-components/src/components/Modal/Modal.tsx
  packages/forma-36-react-components/src/components/Notification/NotificationItemContainer.tsx
  packages/forma-36-react-components/src/components/Notification/NotificationsManager.tsx
Labels: package:forma-36-react-components

#1171 docs: add space between buttons in the website
  packages/forma-36-react-components/src/components/Button/README.mdx
Labels: package:forma-36-react-components

#1173 test: remove snapshots tests from v4
  packages/components/accordion/test/Accordion.test.tsx
  packages/components/empty-state/test/EmptyState.test.tsx
  packages/components/empty-state/test/__snapshots__/EmptyState.test.tsx.snap
  packages/components/forms/src/Label/Label.test.tsx
  packages/components/forms/src/Label/__snapshots__/Label.test.tsx.snap
  packages/components/forms/src/checkbox-field/CheckboxField.test.tsx
  packages/components/forms/src/checkbox-field/__snapshots__/CheckboxField.test.tsx.snap
  packages/components/forms/src/controlled-input-field/ControlledInputField.test.tsx
  packages/components/forms/src/controlled-input-field/__snapshots__/ControlledInputField.test.tsx.snap
  packages/components/forms/src/radio-button-field/RadioButtonField.test.tsx
  packages/components/forms/src/radio-button-field/__snapshots__/RadioButtonField.test.tsx.snap
  packages/components/helptext/test/HelpText.test.tsx
  packages/components/helptext/test/__snapshots__/HelpText.test.tsx.snap
  packages/components/icons/test/Icon.test.tsx
  packages/components/icons/test/__snapshots__/Icon.test.tsx.snap
  packages/components/inputs/src/checkbox/Checkbox.test.tsx
  packages/components/inputs/src/checkbox/__snapshots__/Checkbox.test.tsx.snap
  packages/components/inputs/src/controlled-input/ControlledInput.test.tsx
  packages/components/inputs/src/controlled-input/__snapshots__/ControlledInput.test.tsx.snap
  packages/components/inputs/src/radio-button/RadioButton.test.tsx
  packages/components/inputs/src/radio-button/__snapshots__/RadioButton.test.tsx.snap
  packages/components/list/test/List.test.tsx
  packages/components/list/test/ListItem.test.tsx
  packages/components/list/test/__snapshots__/ListItem.test.tsx.snap
  packages/components/note/test/Note.test.tsx
  packages/components/note/test/__snapshots__/Note.test.tsx.snap
  packages/components/pill/test/Pill.test.tsx
  packages/components/pill/test/__snapshots__/Pill.test.tsx.snap
  packages/components/skeleton/test/SkeletonBodyText.test.tsx
  packages/components/skeleton/test/SkeletonContainer.test.tsx
  packages/components/skeleton/test/SkeletonDisplayText.test.tsx
  packages/components/skeleton/test/SkeletonImage.test.tsx
  packages/components/skeleton/test/SkeletonRow.test.tsx
  packages/components/skeleton/test/SkeletonText.test.tsx
  packages/components/spinner/test/Spinner.test.tsx
  packages/components/spinner/test/__snapshots__/Spinner.test.tsx.snap
  packages/components/table/test/Table.test.tsx
  packages/components/table/test/__snapshots__/Table.test.tsx.snap
  packages/components/tabs/test/Tab.test.tsx
  packages/components/tabs/test/Tabs.test.tsx
  packages/components/text-link/test/TextLink.test.tsx
  packages/components/text-link/test/__snapshots__/TextLink.test.tsx.snap
  packages/components/tooltip/test/Tooltip.test.tsx
  packages/components/tooltip/test/__snapshots__/Tooltip.test.tsx.snap
  packages/components/utils/src/Portal/Portal.test.tsx
  packages/components/utils/src/Portal/__snapshots__/Portal.test.tsx.snap
  packages/components/utils/src/TabFocusTrap/TabFocusTrap.test.tsx
  packages/components/utils/src/TabFocusTrap/__snapshots__/TabFocusTrap.test.tsx.snap
  packages/components/validation-message/test/ValidationMessage.test.tsx
  packages/components/validation-message/test/__snapshots__/ValidationMessage.test.tsx.snap
  packages/core/src/Box/Box.test.tsx
  packages/core/src/Box/__snapshots__/Box.test.tsx.snap
  packages/core/src/Flex/Flex.test.tsx
  packages/core/src/Flex/__snapshots__/Flex.test.tsx.snap
  packages/core/src/Grid/Grid.test.tsx
  packages/core/src/Grid/GridItem/GridItem.test.tsx
  packages/core/src/Grid/GridItem/__snapshots__/GridItem.test.tsx.snap
  packages/core/src/Grid/__snapshots__/Grid.test.tsx.snap
Labels: package:components, component:icons, package:core, component:empty-state, component:forms, component:helptext, component:inputs, component:list, component:note, component:spinner, component:table, component:utils, component:validation-message, component:pill, component:tooltip, component:accordion, component:text-link, component:skeleton, component:tabs

#1178 chore: enable auto deploy of the v4 packages
  .circleci/config.yml
Labels: tools

#1176 feat(modallauncher): add closeAll method to ModalLauncher
  packages/forma-36-react-components/src/components/Modal/ModalLauncher/ModalLauncher.stories.tsx
  packages/forma-36-react-components/src/components/Modal/ModalLauncher/ModalLauncher.tsx
Labels: package:forma-36-react-components

#1180 fix: remove prepublish from the codemod package
  packages/forma-36-codemod/package.json
Labels: package:forma-36-codemod

#1175 feat(copybutton): migrate copybutton to v4
  packages/components/copybutton/README.mdx
  packages/components/copybutton/index.ts
  packages/components/copybutton/package.json
  packages/components/copybutton/src/CopyButton.styles.ts
  packages/components/copybutton/src/CopyButton.tsx
  packages/components/copybutton/src/index.ts
  packages/components/copybutton/stories/CopyButton.stories.tsx
  packages/components/copybutton/test/CopyButton.test.tsx
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/CopyButton/CopyButton.css
  packages/forma-36-react-components/src/components/CopyButton/CopyButton.stories.tsx
  packages/forma-36-react-components/src/components/CopyButton/CopyButton.test.tsx
  packages/forma-36-react-components/src/components/CopyButton/CopyButton.tsx
  packages/forma-36-react-components/src/components/CopyButton/__snapshots__/CopyButton.test.tsx.snap
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextInput/TextInput.css
  packages/forma-36-react-components/src/components/TextInput/TextInput.tsx
  packages/forma-36-react-components/src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
  yarn.lock
Labels: package:forma-36-react-components, package:components, component:copybutton

#1187 feat: filter out all polymorphic props
  packages/components/badge/src/README.mdx
  packages/components/button/README.mdx
  packages/components/icon/README.mdx
  packages/f36-docs-utils/src/Props/Props.tsx
  packages/f36-docs-utils/src/Props/PropsProvider.tsx
  packages/f36-docs-utils/src/Props/types.ts
Labels: package:components, package:f36-docs-utils, component:badge, component:button, component:icon

#1188 feat: text link codemod
  .eslintrc.js
  .prettierignore
  packages/forma-36-codemod/README.md
  packages/forma-36-codemod/bin/inquirer-choices.js
  packages/forma-36-codemod/package.json
  packages/forma-36-codemod/transforms/__testfixtures__/v4-text-link.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-text-link.output.js
  packages/forma-36-codemod/transforms/__tests__/v4-text-link.test.js
  packages/forma-36-codemod/transforms/v4-text-link.js
  packages/forma-36-codemod/utils/__tests__/getComponentLocalName.test.js
  packages/forma-36-codemod/utils/addImport.js
  packages/forma-36-codemod/utils/addProperty.js
  packages/forma-36-codemod/utils/changeImport.js
  packages/forma-36-codemod/utils/changeProperties.js
  packages/forma-36-codemod/utils/deleteProperty.js
  packages/forma-36-codemod/utils/getComponentLocalName.js
  packages/forma-36-codemod/utils/getProperty.js
  packages/forma-36-codemod/utils/hasProperty.js
  packages/forma-36-codemod/utils/index.js
  packages/forma-36-codemod/utils/removeComponentImport.js
  packages/forma-36-codemod/utils/renameProperties.js
  packages/forma-36-codemod/utils/updateIcons.js
  packages/forma-36-codemod/utils/updatePropertyValue.js
  yarn.lock
Labels: package:forma-36-codemod

#1193 chore: remove private labels for publishable packages
  packages/components/button/package.json
  packages/components/copybutton/package.json
  packages/components/drag-handle/package.json
  packages/components/empty-state/package.json
  packages/components/helptext/package.json
  packages/components/list/package.json
  packages/components/note/package.json
  packages/components/pill/package.json
  packages/components/skeleton/package.json
  packages/components/spinner/package.json
  packages/components/table/package.json
  packages/components/tabs/package.json
  packages/components/text-link/package.json
  packages/components/tooltip/package.json
  packages/components/validation-message/package.json
  scripts/plop-templates/package/package.json.hbs
Labels: package:components, component:button, component:empty-state, component:helptext, component:list, component:note, component:spinner, component:table, component:validation-message, component:pill, component:tooltip, component:drag-handle, component:text-link, component:skeleton, component:tabs, component:copybutton

#1192 feat: improve TextLink codemod
  packages/forma-36-codemod/bin/cli.js
  packages/forma-36-codemod/transforms/__tests__/v4-text-link.test.js
  packages/forma-36-codemod/transforms/v4-text-link.js
  packages/forma-36-codemod/utils/config.js
Labels: package:forma-36-codemod

#1190 docs: provide StaticSource component to solve some issues in docs
  packages/forma-36-react-components/src/components/DateTime/README.mdx
  packages/forma-36-website/src/components/Container.js
  packages/forma-36-website/src/components/StaticSource.js
Labels: package:forma-36-react-components, package:forma-36-website

#1179 feat: Modal v4
  packages/components/button/src/Button.tsx
  packages/components/button/src/ButtonGroup/ButtonGroup.tsx
  packages/components/button/src/ButtonGroup/types.ts
  packages/components/button/src/styles.ts
  packages/components/modal/README.mdx
  packages/components/modal/index.ts
  packages/components/modal/package.json
  packages/components/modal/src/Modal.mdx
  packages/components/modal/src/Modal.styles.ts
  packages/components/modal/src/Modal.tsx
  packages/components/modal/src/ModalConfirm/ModalConfirm.mdx
  packages/components/modal/src/ModalConfirm/ModalConfirm.tsx
  packages/components/modal/src/ModalContent/ModalContent.styles.ts
  packages/components/modal/src/ModalContent/ModalContent.tsx
  packages/components/modal/src/ModalControls/ModalControls.tsx
  packages/components/modal/src/ModalHeader/ModalHeader.styles.ts
  packages/components/modal/src/ModalHeader/ModalHeader.tsx
  packages/components/modal/src/ModalLauncher/ModalLauncher.mdx
  packages/components/modal/src/ModalLauncher/ModalLauncher.tsx
  packages/components/modal/src/index.ts
  packages/components/modal/src/types.ts
  packages/components/modal/stories/Modal.stories.tsx
  packages/components/modal/stories/ModalConfirm.stories.tsx
  packages/components/modal/stories/ModalLauncher.stories.tsx
  packages/components/modal/stories/ModalLauncher.tsx
  packages/components/modal/test/Modal.test.tsx
  packages/components/modal/test/ModalConfirm.test.tsx
  packages/components/skeleton/src/SkeletonContainer/SkeletonContainer.tsx
  packages/components/skeleton/src/SkeletonText/SkeletonText.tsx
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/Dropdown/README.mdx
  packages/forma-36-react-components/src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  packages/forma-36-react-components/src/components/EditorToolbar/README.mdx
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/__snapshots__/EntityListItem.test.tsx.snap
  packages/forma-36-react-components/src/components/Modal/Modal.css
  packages/forma-36-react-components/src/components/Modal/Modal.test.tsx
  packages/forma-36-react-components/src/components/Modal/ModalConfirm/ModalConfirm.test.tsx
  packages/forma-36-react-components/src/components/Modal/ModalConfirm/__snapshots__/ModalConfirm.test.tsx.snap
  packages/forma-36-react-components/src/components/Modal/ModalContent/ModalContent.css
  packages/forma-36-react-components/src/components/Modal/ModalContent/ModalContent.tsx
  packages/forma-36-react-components/src/components/Modal/ModalControls/ModalControls.css
  packages/forma-36-react-components/src/components/Modal/ModalControls/ModalControls.tsx
  packages/forma-36-react-components/src/components/Modal/ModalHeader/ModalHeader.css
  packages/forma-36-react-components/src/components/Modal/ModalHeader/ModalHeader.tsx
  packages/forma-36-react-components/src/components/Modal/__snapshots__/Modal.test.tsx.snap
  packages/forma-36-react-components/src/components/Workbench/__snapshots__/Workbench.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
  packages/forma-36-website/gatsby-config.js
  packages/forma-36-website/src/components/ComponentSource.js
  packages/forma-36-website/src/components/DocFormatter.js
  types/typings.d.ts
  yarn.lock
Labels: package:forma-36-react-components, package:components, package:forma-36-website, component:button, component:skeleton, component:modal

#1191 feat: Add postfix to all icon components
  packages/components/accordion/src/AccordionHeader/AccordionHeader.tsx
  packages/components/button/README.mdx
  packages/components/button/src/ButtonGroup/README.mdx
  packages/components/button/src/ToggleButton/README.mdx
  packages/components/button/stories/Button.stories.tsx
  packages/components/button/stories/ButtonGroup.stories.tsx
  packages/components/button/stories/ToggleButton.stories.tsx
  packages/components/button/test/Button.test.tsx
  packages/components/button/test/ButtonGroup.test.tsx
  packages/components/button/test/ToggleButton.test.tsx
  packages/components/copybutton/src/CopyButton.tsx
  packages/components/drag-handle/src/DragHandle.tsx
  packages/components/icon/README.mdx
  packages/components/icons/scripts/preBuild.js
  packages/components/icons/src/index.ts
  packages/components/icons/stories/Icons.stories.tsx
  packages/components/icons/test/Icon.test.tsx
  packages/components/inputs/src/controlled-input/ControlledInput.tsx
  packages/components/modal/src/ModalHeader/ModalHeader.tsx
  packages/components/note/src/Note.tsx
  packages/components/pill/README.mdx
  packages/components/pill/src/Pill.tsx
  packages/components/pill/stories/Pill.stories.tsx
  packages/components/text-link/stories/TextLink.stories.tsx
  packages/components/text-link/test/TextLink.test.tsx
  packages/components/validation-message/src/ValidationMessage.tsx
  packages/forma-36-codemod/bin/cli.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-text-link.output.js
  packages/forma-36-codemod/utils/updateIcons.js
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/Asset/AssetIcon/AssetIcon.tsx
  packages/forma-36-react-components/src/components/Autocomplete/Autocomplete.tsx
  packages/forma-36-react-components/src/components/Card/AssetCard/AssetCard.stories.tsx
  packages/forma-36-react-components/src/components/Card/AssetCard/AssetCard.test.tsx
  packages/forma-36-react-components/src/components/Card/CardActions/CardActions.tsx
  packages/forma-36-react-components/src/components/Card/CardDragHandle/CardDragHandle.tsx
  packages/forma-36-react-components/src/components/Card/EntryCard/EntryCard.stories.tsx
  packages/forma-36-react-components/src/components/EditorToolbar/EditorToolbar.stories.tsx
  packages/forma-36-react-components/src/components/EditorToolbar/EditorToolbarButton/EditorToolbarButton.stories.tsx
  packages/forma-36-react-components/src/components/EditorToolbar/EditorToolbarButton/EditorToolbarButton.test.tsx
  packages/forma-36-react-components/src/components/EntityList/EntityListItem/EntityListItem.tsx
  packages/forma-36-react-components/src/components/IconButton/IconButton.stories.tsx
  packages/forma-36-react-components/src/components/IconButton/IconButton.test.tsx
  packages/forma-36-react-components/src/components/IconButton/IconButton.tsx
  packages/forma-36-react-components/src/components/Notification/NotificationItem.tsx
  packages/forma-36-react-components/src/components/Select/Select.tsx
  packages/forma-36-react-components/src/components/Switch/Switch.tsx
  packages/forma-36-react-components/src/components/TextField/TextField.stories.tsx
  packages/forma-36-react-components/src/components/TextField/TextField.test.tsx
  packages/forma-36-react-components/src/components/Workbench/Workbench.stories.tsx
  packages/forma-36-react-components/src/components/Workbench/Workbench.test.tsx
  packages/forma-36-react-components/src/components/Workbench/Workbench.tsx
  packages/forma-36-website/src/components/ColorSwatch.js
  packages/forma-36-website/src/components/ComponentSource.js
  packages/forma-36-website/src/components/DocSearch.jsx
  packages/forma-36-website/src/components/ExampleCards.js
  packages/forma-36-website/src/components/Navigation.js
  yarn.lock
Labels: package:forma-36-react-components, package:components, component:icons, package:forma-36-website, component:button, component:icon, component:inputs, component:note, component:validation-message, component:pill, package:forma-36-codemod, component:drag-handle, component:accordion, component:text-link, component:copybutton, component:modal

#1181 feat: implement segment in f36 website
  .eslintrc.js
  packages/forma-36-website/README.md
  packages/forma-36-website/gatsby-browser.js
  packages/forma-36-website/package.json
  packages/forma-36-website/src/components/Layout.js
Labels: package:forma-36-website

#1199 fix: remove muted Badge variant
  packages/components/badge/src/getBadgeStyles.ts
  packages/components/badge/src/types.ts
  packages/components/badge/stories/Badge.stories.tsx
Labels: package:components, component:badge

#1197 fix: small text link adjustments
  packages/components/icons/src/Gift.tsx
  packages/components/text-link/TextLink.mdx
  packages/components/text-link/src/TextLink.styles.ts
  packages/components/text-link/src/TextLink.tsx
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-website/gatsby-config.js
  packages/forma-36-website/src/components/DocFormatter.js
Labels: package:forma-36-react-components, package:components, component:icons, package:forma-36-website, component:text-link

#1196 feat: allow to migrate Tag to Badge by using codmod
  packages/forma-36-codemod/README.md
  packages/forma-36-codemod/bin/inquirer-choices.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-badge.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-badge.output.js
  packages/forma-36-codemod/transforms/__tests__/v4-badge.test.js
  packages/forma-36-codemod/transforms/v4-badge.js
  packages/forma-36-codemod/utils/changeComponentName.js
  packages/forma-36-codemod/utils/changeImport.js
  packages/forma-36-codemod/utils/index.js
Labels: package:forma-36-codemod

#1206 feat(codemod): Migrate Badge with entityStatus
  packages/forma-36-codemod/transforms/__testfixtures__/v4-badge.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-badge.output.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-text-link.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-text-link.output.js
  packages/forma-36-codemod/transforms/v4-badge.js
Labels: package:forma-36-codemod

#1208 feat(codemod): pill codemod
  packages/forma-36-codemod/bin/inquirer-choices.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-pill.input.js
  packages/forma-36-codemod/transforms/__testfixtures__/v4-pill.output.js
  packages/forma-36-codemod/transforms/__tests__/v4-pill.test.js
  packages/forma-36-codemod/transforms/v4-pill.js
Labels: package:forma-36-codemod

#1201 feat(V4): Notification
  packages/components/notification/Notification.mdx
  packages/components/notification/README.md
  packages/components/notification/index.ts
  packages/components/notification/package.json
  packages/components/notification/src/Notification.tsx
  packages/components/notification/src/NotificationItem/NotificationItem.styles.ts
  packages/components/notification/src/NotificationItem/NotificationItem.tsx
  packages/components/notification/src/NotificationItem/NotificationItemContainer.tsx
  packages/components/notification/src/NotificationItem/index.ts
  packages/components/notification/src/NotificationsManager/NotificationsManager.styles.ts
  packages/components/notification/src/NotificationsManager/NotificationsManager.tsx
  packages/components/notification/src/NotificationsManager/index.ts
  packages/components/notification/src/index.ts
  packages/components/notification/src/types.ts
  packages/components/notification/stories/Notification.stories.tsx
  packages/components/notification/test/NotificationItem.test.tsx
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/uesAsyncState.ts
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/Notification/Notification.stories.tsx
  packages/forma-36-react-components/src/components/Notification/NotificationItem.css
  packages/forma-36-react-components/src/components/Notification/NotificationItem.test.tsx
  packages/forma-36-react-components/src/components/Notification/NotificationItem.tsx
  packages/forma-36-react-components/src/components/Notification/NotificationsManager.css
  packages/forma-36-react-components/src/components/Notification/__snapshots__/NotificationItem.test.tsx.snap
  packages/forma-36-react-components/src/index.ts
  yarn.lock
Labels: package:forma-36-react-components, package:components, package:core, component:notification

#1210 chore: make netlify use different segment in preview and branch deploys
  packages/forma-36-website/gatsby-browser.js
Labels: package:forma-36-website

#1200 feat: migrate datetime to v4
  packages/components/datetime/DateTime.mdx
  packages/components/datetime/README.md
  packages/components/datetime/RelativeDateTime.mdx
  packages/components/datetime/index.ts
  packages/components/datetime/package.json
  packages/components/datetime/src/DateTime.tsx
  packages/components/datetime/src/RelativeDateTime.tsx
  packages/components/datetime/src/index.ts
  packages/components/datetime/stories/DateTime.stories.tsx
  packages/components/datetime/stories/RelativeDateTime.stories.tsx
  packages/components/datetime/test/DateTime.test.tsx
  packages/components/datetime/test/RelativeDateTime.test.tsx
  packages/forma-36-react-components/package.json
  packages/forma-36-react-components/src/components/DateTime/DateTime.stories.tsx
  packages/forma-36-react-components/src/components/DateTime/DateTime.test.tsx
  packages/forma-36-react-components/src/components/DateTime/DateTime.tsx
  packages/forma-36-react-components/src/components/DateTime/RelativeDate/RelativeDate.stories.tsx
  packages/forma-36-react-components/src/components/DateTime/RelativeDate/RelativeDate.test.tsx
  packages/forma-36-react-components/src/components/DateTime/RelativeDate/RelativeDate.tsx
  packages/forma-36-react-components/src/components/DateTime/RelativeDate/__snapshots__/RelativeDate.test.tsx.snap
  packages/forma-36-react-components/src/components/DateTime/__snapshots__/DateTime.test.tsx.snap
  packages/forma-36-react-components/src/components/DateTime/dateUtils.test.ts
  packages/forma-36-react-components/src/components/DateTime/dateUtils.ts
  packages/forma-36-react-components/src/components/DateTime/index.ts
  packages/forma-36-react-components/src/components/DateTime/types.ts
  packages/forma-36-react-components/src/index.ts
  packages/forma-36-website/gatsby-config.js
  yarn.lock
Labels: package:forma-36-react-components, package:components, package:forma-36-website, component:datetime

#1213 fix: text link semantics and alignment
  packages/forma-36-react-components/src/components/TextField/__snapshots__/TextField.test.tsx.snap
  packages/forma-36-react-components/src/components/TextLink/TextLink.css
  packages/forma-36-react-components/src/components/TextLink/TextLink.tsx
  packages/forma-36-react-components/src/components/TextLink/__snapshots__/TextLink.test.tsx.snap
Labels: package:forma-36-react-components

#1204 feat: @contentful/f36-popover
  packages/components/popover/Popover.mdx
  packages/components/popover/README.md
  packages/components/popover/index.ts
  packages/components/popover/package.json
  packages/components/popover/src/Popover.tsx
  packages/components/popover/src/PopoverContent/PopoverContent.styles.ts
  packages/components/popover/src/PopoverContent/PopoverContent.tsx
  packages/components/popover/src/PopoverContext.ts
  packages/components/popover/src/PopoverTrigger/PopoverTrigger.tsx
  packages/components/popover/src/index.ts
  packages/components/popover/stories/Popover.stories.tsx
  packages/components/popover/test/Popover.test.tsx
  packages/core/src/index.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/mergeRefs.ts
  packages/forma-36-react-components/src/index.ts
  packages/forma-36-website/gatsby-config.js
Labels: package:forma-36-react-components, package:components, package:core, package:forma-36-website, component:popover
