Repository contentful/forma-36, pull requests merged in 2021-09, with the labels that each got.

#1230 feat: v4 TextInput component
  packages/components/forms/src/index.ts
  packages/components/forms/src/text-input/TextInput.mdx
  packages/components/forms/src/text-input/TextInput.styles.ts
  packages/components/forms/src/text-input/TextInput.tsx
  packages/components/forms/src/text-input/index.ts
  packages/components/forms/src/text-input/types.ts
  packages/components/forms/stories/RadioButtonField.stories.tsx
  packages/components/forms/stories/TextInput.stories.tsx
  packages/forma-36-react-components/src/components/TextInput/TextInput.stories.tsx
  packages/forma-36-react-components/src/index.ts
Labels: package:forma-36-react-components, package:components, component:forms

#1281 feat: add GlobalStyles
  packages/components/accordion/src/AccordionHeader/AccordionHeader.styles.ts
  packages/components/forms/src/help-text/HelpText.tsx
  packages/components/list/src/ListItem/ListItem.tsx
  packages/components/modal/src/ModalContent/ModalContent.styles.ts
  packages/components/table/src/TableCell.tsx
  packages/components/tooltip/src/Tooltip.styles.ts
  packages/components/typography/src/Text.tsx
  packages/core/package.json
  packages/core/src/GlobalStyles/GlobalStyles.tsx
  packages/core/src/GlobalStyles/index.ts
  packages/core/src/index.ts
  packages/core/stories/Box.stories.tsx
  packages/core/stories/Flex.stories.tsx
  packages/core/stories/Grid.stories.tsx
  packages/forma-36-react-components/src/components/Card/Card.stories.tsx
  packages/forma-36-tokens/src/tokens/typography/font-base.js
  packages/forma-36-website/src/components/Layout.css
  packages/forma-36-website/src/components/Layout.js
  packages/forma-36-website/src/content/foundation/typography/index.mdx
  scripts/.storybook/preview.js
  yarn.lock
Labels: needs review, needs design review

#1290 feat(switch): add sizes to Switch input component
  packages/components/forms/src/base-checkbox/BaseCheckbox.styles.ts
  packages/components/forms/src/base-checkbox/BaseCheckbox.tsx
  packages/components/forms/src/base-checkbox/GhostCheckbox.styles.ts
  packages/components/forms/src/base-checkbox/GhostCheckbox.tsx
  packages/components/forms/src/base-checkbox/types.ts
  packages/components/forms/src/checkbox/Checkbox.tsx
  packages/components/forms/src/radio/Radio.tsx
  packages/components/forms/stories/Switch.stories.tsx
Labels: needs design review
